@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body,
html {
  width: 100%;
  height: 100%; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0; }

p {
  margin: 0; }

.wrapper {
  width: 100%;
  height: 100%; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  height: 100%; }

.section {
  height: 100%;
  min-width: 940px;
  min-height: 650px; }

.title {
  font-family: Gagalin;
  font-size: 4.5rem;
  font-weight: 400; }

.description {
  font-family: Lifehack;
  font-weight: 500; }

.make {
  background-image: url("../img/bg/make-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.31); }

.container_make {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0.75rem 0 2.5625rem 0; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo__link {
  display: block; }

.logo {
  margin-right: auto; }

.menu {
  margin-right: 0.9375rem; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  text-transform: uppercase; }
  .nav__item:after {
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 0.75rem; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 500;
  font-family: Ubuntu; }

.button {
  border: none;
  border-radius: 5px;
  text-transform: uppercase; }

.order__btn {
  background-color: #e45028;
  width: 97px;
  height: 35px;
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 500; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0.8;
  -ms-flex-positive: 0.8;
  flex-grow: 0.8;
  margin-bottom: auto; }

.content__logo {
  margin-right: 1.875rem; }

.title_make_yellow {
  color: #f9b43b;
  line-height: 1;
  margin-bottom: 1.25rem; }

.description_make_white {
  color: #ffffff;
  font-size: 4.0625rem;
  line-height: 1; }

.sidebar {
  position: fixed;
  right: 5%;
  top: 10%;
  color: #fff; }

.outer-circle {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: transparent;
  border: 1px solid transparent;
  position: relative;
  margin-bottom: 0.9375rem;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  .outer-circle:hover {
    border-color: #fff;
    cursor: pointer; }

.inner-circle {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 0.9375rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto; }

.outer-circle_active {
  border-color: #fff; }

.best {
  background-image: url("../img/bg/best-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover; }

.container_best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.title_best_black {
  margin-bottom: 3.4375rem; }

.worth__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.worth__item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.worth__logo {
  height: 90px;
  margin-bottom: 2.1875rem; }

.title_worth {
  color: #2f3234;
  font-size: 1.49812rem;
  font-weight: 500;
  font-family: Lifehack;
  line-height: 1;
  text-align: center;
  margin-bottom: 1.25rem; }

.description_worth {
  color: #2f3234;
  font-size: 0.875rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.42; }

.team {
  background-image: url("../img/bg/team-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color: #c0afaa;
  position: relative; }

.teammates {
  height: 100%;
  width: 50%;
  background-color: rgba(57, 59, 60, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 7.0625rem; }

.container-teammates {
  width: 64%;
  margin: 0 auto; }

.title_teammates {
  color: #f9b43b;
  font-size: 4.48313rem;
  font-weight: 400;
  margin-bottom: 2.8125rem; }

.teammates__item {
  margin-bottom: 2.1875rem; }

.teammate__name {
  font-family: Gagalin;
  color: #f9b43b;
  font-size: 0.87rem;
  font-weight: 400;
  margin-bottom: 1.0625rem; }

.teammate__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.teammate__photo {
  padding: 0 1.25rem; }

.teammate__img {
  width: 100px;
  height: 100px;
  border-radius: 50%; }

.teammate__facts {
  color: #ffffff;
  font-size: 14px; }

.teammate__profession {
  font-weight: 700;
  margin-bottom: 1.25rem; }

.teammate__description {
  font-weight: 300;
  line-height: 1.42; }

.smenu {
  background-image: url("../img/bg/menu-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.title__smenu {
  position: absolute;
  top: 10%;
  left: 8.6%;
  color: #ffffff;
  font-size: 4.48313rem;
  font-weight: 400; }

.smenu__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.smenu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 8%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  font-family: Gagalin;
  color: #ffffff;
  font-size: 2.4875rem;
  font-weight: 400;
  top: 0;
  padding-bottom: 2.5rem; }

.smenu__text {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl; }

.smenu__item_meat {
  background-image: url("../img/content/acc-meat.jpg");
  right: 16%; }

.smenu__item_veg {
  background-image: url("../img/content/acc-vegan.jpg");
  right: 8%; }

.smenu__item_diet {
  background-image: url("../img/content/acc-dieta.jpg");
  right: 0%; }

.reviews {
  height: 100%; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.reviews__list {
  height: 100%; }

.reviews__item {
  height: 50%;
  width: 25%; }
  .reviews__item:hover .review__content {
    z-index: 0; }

.review {
  height: 100%;
  position: relative; }

.review__img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: absolute;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  z-index: -1; }

.review__img_one {
  background-image: url("../img/content/one.jpg"); }

.review__img_two {
  background-image: url("../img/content/two.jpg"); }

.review__img_three {
  background-image: url("../img/content/three.jpg"); }

.review__img_four {
  background-image: url("../img/content/four.jpg"); }

.review__img_five {
  background-image: url("../img/content/five.jpg"); }

.review__img_six {
  background-image: url("../img/content/six.jpg"); }

.review__img_seven {
  background-image: url("../img/content/seven.jpg"); }

.review__img_eight {
  background-image: url("../img/content/eight.jpg"); }

.review__content {
  position: absolute;
  z-index: -2;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.25rem 1.25rem;
  background-color: rgba(79, 79, 79, 0.7); }

.review__title {
  font-family: Gagalin;
  color: #ffffff;
  font-size: 0.87rem;
  font-weight: 400;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-bottom: 1.875rem; }

.review__description {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 1.0625rem; }

.review__button {
  -ms-flex-item-align: start;
  align-self: flex-start; }

.button_review {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  width: 110px;
  height: 35px;
  background-color: #2f3234; }

.delivery {
  background-image: url("../img/bg/delivery-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover; }

.container_delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.title_delivery {
  font-family: Gagalin;
  color: #f9b43b;
  font-size: 4.48313rem;
  font-weight: 400; }

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.fieldset {
  width: 49%;
  padding: 0;
  margin: 0;
  border: none; }

.info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.info__name, .info__phone {
  width: 48%; }

.addres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.addres__house, .addres__corps, .addres__floor, .addres__flat {
  width: 22%; }

.right-field__name, .left-field__name {
  font-family: Ubuntu;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 300; }

.left-field__input_center {
  text-align: center; }

.left-field__input {
  width: 100%;
  height: 35px; }

.right-field__text {
  width: 100%;
  height: 114px;
  padding: 0.625rem 0 0 0.625rem; }

.left-field__input, .right-field__text {
  border-radius: 5px;
  border-width: 1px;
  border-color: #d1cfcb;
  border-style: solid;
  color: #2f3234;
  font-size: 0.875rem;
  font-weight: 300; }
  .left-field__input:focus, .right-field__text:focus {
    outline: 0;
    outline-offset: 0;
    border-width: 2px;
    border-color: #f9b43b;
    border-style: solid; }

.left-field__name, .right-field__name {
  margin-bottom: 0.625rem; }

.title_delivery {
  margin-bottom: 2.8125rem; }

.info, .street {
  margin-bottom: 1.25rem; }

.info .left-field__input, .street .left-field__input {
  padding-left: 1.25rem; }

.pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.right-field__label_pay, .right-field__label_recall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.right-field__radio, .right-field__checkbox {
  margin-right: 0.625rem; }

.pay__cash {
  margin-right: 1.25rem; }

.comment {
  margin-bottom: 0.9375rem; }

.pay {
  margin-bottom: 1.25rem; }

.button_submit, .button_clean {
  border-radius: 5px;
  background-color: #e45028;
  width: 97px;
  height: 35px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer; }

.button_clean {
  background-color: #ffffff;
  color: #2f3234;
  margin-left: 0.625rem; }

.check {
  margin-bottom: 1.25rem; }

.right-field__label {
  position: relative; }

.right-field__radio:checked + .radio-style > .radio-style__inner {
  border-radius: 50%;
  background-color: #e35028;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto; }

.radio-style {
  margin-right: 0.625rem;
  border-radius: 50%;
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  display: block;
  position: relative; }

.right-field__name_check {
  padding-top: 2px; }

.right-field__checkbox:checked + .checkbox-style > .checkbox-style__inner {
  height: 15px;
  background-image: url("../img/content/check.png");
  background-repeat: no-repeat;
  background-position: 50%; }

.checkbox-style {
  margin-right: 0.625rem;
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  display: block;
  position: relative; }

input::-webkit-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.5s ease;
  -o-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease; }

input::-moz-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.5s ease;
  -o-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease; }

input:-moz-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.5s ease;
  -o-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease; }

input:-ms-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.5s ease;
  -o-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease; }

input:focus::-webkit-input-placeholder {
  text-indent: 1000px;
  -webkit-transition: text-indent 0.5s ease;
  -o-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease; }

input:focus::-moz-placeholder {
  text-indent: 1000px;
  -webkit-transition: text-indent 0.5s ease;
  -o-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease; }

input:focus:-moz-placeholder {
  text-indent: 1000px;
  -webkit-transition: text-indent 0.5s ease;
  -o-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease; }

input:focus:-ms-input-placeholder {
  text-indent: 1000px;
  -webkit-transition: text-indent 0.5s ease;
  -o-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease; }

/*# sourceMappingURL=main.css.map */