@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body,
html {
  width: 100%;
  height: 100%; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 12px; } }

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, embed, object, video {
  max-width: 100%; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100%; }

.maincontent {
  height: 100%;
  min-height: 40.625rem; }

.container {
  width: 95%;
  max-width: 58.75rem;
  margin: 0 auto;
  height: 100%; }

.section {
  height: 100%;
  width: 100%;
  min-height: 40.625rem; }

.title {
  font-family: Gagalin;
  font-size: 4.5rem;
  font-weight: 400; }

.description {
  font-family: Lifehack;
  font-weight: 500; }

.make {
  background-image: url("../img/bg/make-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.31); }

.container_make {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0.75rem 0 2.5625rem 0; }
  @media screen and (max-width: 480px) {
    .container_make {
      padding: 0.625rem 0 0.3125rem 0; } }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo__link {
  display: block; }

.logo {
  margin-right: auto; }

.menu {
  margin-right: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .menu {
      display: none; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  text-transform: uppercase; }
  .nav__item:after {
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 0.75rem; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 500;
  font-family: Ubuntu; }

.button_order {
  background-color: #e45028;
  width: 6.0625rem;
  height: 2.1875rem;
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 500; }

.button {
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0.8;
  -ms-flex-positive: 0.8;
  flex-grow: 0.8;
  margin-bottom: auto; }
  @media screen and (max-width: 768px) {
    .content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; } }

.content__logo {
  margin-right: 1.875rem; }
  @media screen and (max-width: 768px) {
    .content__logo {
      margin-right: 0; } }

.title_make_yellow {
  padding-top: 4.375rem;
  color: #f9b43b;
  line-height: 1;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .title_make_yellow {
      padding-top: 2.5rem; } }

.description_make_white {
  color: #ffffff;
  font-size: 4.0625rem;
  line-height: 1; }
  @media screen and (max-width: 480px) {
    .description_make_white {
      font-size: 2.5rem; } }

.arrow__img {
  fill: #edeeee;
  width: 1.875rem;
  height: 0.9375rem; }

.sidebar {
  position: fixed;
  right: 5%;
  top: 10%;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .sidebar {
      display: none; } }

.outer-circle {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: transparent;
  border: 1px solid transparent;
  position: relative;
  margin-bottom: 0.9375rem;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  .outer-circle:hover {
    border-color: #fff;
    cursor: pointer; }

.inner-circle {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 0.9375rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto; }

.outer-circle_active {
  border-color: #fff; }

.best {
  background-image: url("../img/bg/best-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover; }

.container_best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.title_best_black {
  margin-bottom: 3.4375rem; }
  @media screen and (max-width: 480px) {
    .title_best_black {
      text-align: center; } }

.worth__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .worth__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.worth__item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .worth__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      margin-bottom: 3.125rem; } }

.worth__logo {
  min-width: 6.25rem;
  min-height: 5.625rem;
  margin-bottom: 2.1875rem; }
  @media screen and (max-width: 480px) {
    .worth__logo {
      margin: 0 1.875rem; } }

@media screen and (max-width: 480px) {
  .worth__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.title_worth {
  color: #2f3234;
  font-size: 1.49812rem;
  font-weight: 500;
  font-family: Lifehack;
  line-height: 1;
  text-align: center;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 480px) {
    .title_worth {
      text-align: left; } }

.description_worth {
  color: #2f3234;
  font-size: 0.875rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.42; }
  @media screen and (max-width: 480px) {
    .description_worth {
      text-align: left; } }

.worth__img {
  width: 6.25rem;
  height: 5.625rem; }

.worth__img_hand {
  fill: #f8b537; }

.worth__img_meat {
  fill: #e34f23; }

.worth__img_natural {
  fill: #8bc13c; }

.team {
  background-image: url("../img/bg/team-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color: #c0afaa;
  position: relative; }

.teammates {
  height: 100%;
  width: 50%;
  background-color: rgba(57, 59, 60, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 7.0625rem; }
  @media screen and (max-width: 768px) {
    .teammates {
      width: 100%;
      text-align: center; } }

.container-teammates {
  width: 64%;
  margin: 0 auto; }

.title_teammates {
  color: #f9b43b;
  font-size: 4.48313rem;
  font-weight: 400;
  margin-bottom: 2.8125rem; }
  @media screen and (max-width: 480px) {
    .title_teammates {
      font-size: 3.10375rem; } }

.teammates__item {
  margin-bottom: 2.1875rem; }

.teammate__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Gagalin;
  color: #fff;
  font-size: 0.87rem;
  font-weight: 400;
  margin-bottom: 1.0625rem; }
  .teammate__name:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0px;
    margin-right: 0.625rem; }
  @media screen and (max-width: 768px) {
    .teammate__name {
      font-size: 1.495rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.teammates__item_active .teammate__name {
  color: #f9b43b; }

.teammates__item_active .teammate__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.teammates__item_active .teammate__name:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.teammate__info {
  display: none; }
  @media screen and (max-width: 768px) {
    .teammate__info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.teammate__photo {
  min-width: 100px;
  margin: 0 1.25rem 0 1.25rem; }

.teammate__img {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 50%; }

.teammate__facts {
  color: #ffffff;
  font-size: 0.875rem; }

.teammate__profession {
  font-weight: 700;
  margin-bottom: 1.25rem; }

.teammate__description {
  font-weight: 300;
  line-height: 1.42; }

.smenu {
  background-image: url("../img/bg/menu-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.title__smenu {
  position: absolute;
  top: 10%;
  left: 8.6%;
  color: #ffffff;
  font-size: 4.48313rem;
  font-weight: 400; }
  @media screen and (max-width: 768px) {
    .title__smenu {
      font-size: 4.47312rem; } }
  @media screen and (max-width: 480px) {
    .title__smenu {
      font-size: 3.09313rem; } }

.smenu__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.smenu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 8%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  font-family: Gagalin;
  color: #ffffff;
  font-size: 2.4875rem;
  font-weight: 400;
  top: 0;
  padding-bottom: 2.5rem; }
  @media screen and (max-width: 768px) {
    .smenu__item {
      width: 10.5%; } }
  @media screen and (max-width: 480px) {
    .smenu__item {
      width: 16.5%; } }

.smenu__text {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl; }
  @media screen and (max-width: 480px) {
    .smenu__text {
      font-size: 2.4875rem; } }

.smenu__item_meat {
  background-image: url("../img/content/acc-meat.jpg");
  right: 16%; }
  @media screen and (max-width: 768px) {
    .smenu__item_meat {
      right: 21%; } }
  @media screen and (max-width: 480px) {
    .smenu__item_meat {
      right: 33%; } }

.smenu__item_veg {
  background-image: url("../img/content/acc-vegan.jpg");
  right: 8%; }
  @media screen and (max-width: 768px) {
    .smenu__item_veg {
      right: 10.5%; } }
  @media screen and (max-width: 480px) {
    .smenu__item_veg {
      right: 16.5%; } }

.smenu__item_diet {
  background-image: url("../img/content/acc-dieta.jpg");
  right: 0%; }

.reviews {
  height: 100%; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.reviews__list {
  height: 100%; }

.reviews__item {
  height: 50%;
  width: 25%; }
  .reviews__item:hover .review__content {
    z-index: 0; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      height: 25%;
      width: 50%;
      text-align: center; } }

.review {
  height: 100%;
  position: relative; }

.review__img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: absolute;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  z-index: -1; }

.review__img_one {
  background-image: url("../img/content/one.jpg"); }

.review__img_two {
  background-image: url("../img/content/two.jpg"); }

.review__img_three {
  background-image: url("../img/content/three.jpg"); }

.review__img_four {
  background-image: url("../img/content/four.jpg"); }

.review__img_five {
  background-image: url("../img/content/five.jpg"); }

.review__img_six {
  background-image: url("../img/content/six.jpg"); }

.review__img_seven {
  background-image: url("../img/content/seven.jpg"); }

.review__img_eight {
  background-image: url("../img/content/eight.jpg"); }

.review__content {
  position: absolute;
  z-index: -2;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.25rem 1.25rem;
  background-color: rgba(79, 79, 79, 0.7); }
  @media screen and (max-width: 480px) {
    .review__content {
      width: 100%; } }

.review__title {
  font-family: Gagalin;
  color: #ffffff;
  font-size: 0.87rem;
  font-weight: 400;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-bottom: 1.875rem; }
  @media screen and (max-width: 768px) {
    .review__title {
      -ms-flex-item-align: center;
      align-self: center; } }
  @media screen and (max-width: 480px) {
    .review__title {
      font-size: 1.49188rem; } }

.review__description {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 1.0625rem; }
  @media screen and (max-width: 480px) {
    .review__description {
      display: none; } }

.review__button {
  -ms-flex-item-align: start;
  align-self: flex-start; }
  @media screen and (max-width: 768px) {
    .review__button {
      -ms-flex-item-align: center;
      align-self: center; } }

.button_review {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  width: 6.875rem;
  height: 2.1875rem;
  background-color: #2f3234; }

.delivery {
  background-image: url("../img/bg/delivery-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover; }

.container_delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.title_delivery {
  font-family: Gagalin;
  color: #f9b43b;
  font-size: 4.48313rem;
  font-weight: 400; }
  @media screen and (max-width: 768px) {
    .title_delivery {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .title_delivery {
      text-align: center;
      font-size: 2.4875rem; } }

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.fieldset {
  width: 49%;
  padding: 0;
  margin: 0;
  border: none; }
  @media screen and (max-width: 768px) {
    .fieldset {
      width: 61%; } }
  @media screen and (max-width: 480px) {
    .fieldset {
      width: 100%; } }

@media screen and (max-width: 768px) {
  .left-field {
    margin-bottom: 1.25rem; } }

.info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.info__name, .info__phone {
  width: 48%; }

.addres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.addres__house, .addres__corps, .addres__floor, .addres__flat {
  width: 22%; }

.right-field__name, .left-field__name {
  font-family: Ubuntu;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 300; }

.left-field__input_center {
  text-align: center; }

.left-field__input {
  width: 100%;
  height: 35px; }

.right-field__text {
  width: 100%;
  height: 114px;
  padding: 0.625rem 0 0 0.625rem; }

.left-field__input, .right-field__text {
  border-radius: 5px;
  border-width: 1px;
  border-color: #d1cfcb;
  border-style: solid;
  color: #2f3234;
  font-size: 0.875rem;
  font-weight: 300; }
  .left-field__input:focus, .right-field__text:focus {
    outline: 0;
    outline-offset: 0;
    border-width: 2px;
    border-color: #f9b43b;
    border-style: solid; }

.left-field__name, .right-field__name {
  margin-bottom: 0.625rem; }

.title_delivery {
  margin-bottom: 2.8125rem; }

.info, .street {
  margin-bottom: 1.25rem; }

.info .left-field__input, .street .left-field__input {
  padding-left: 1.25rem; }

.pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media screen and (max-width: 480px) {
  .recall {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.right-field__label_pay, .right-field__label_recall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.right-field__radio, .right-field__checkbox {
  margin-right: 0.625rem; }

.pay__cash {
  margin-right: 1.25rem; }

.comment {
  margin-bottom: 0.9375rem; }
  @media screen and (max-width: 480px) {
    .comment {
      margin-bottom: 2.5rem; } }

.pay {
  margin-bottom: 1.25rem; }

.button_submit, .button_clean {
  border-radius: 5px;
  background-color: #e45028;
  width: 6.0625rem;
  height: 2.1875rem;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  cursor: pointer; }

.button_clean {
  background-color: #ffffff;
  color: #2f3234;
  margin-left: 0.625rem; }

.check {
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 480px) {
    .check {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.right-field__label {
  position: relative; }

.right-field__radio:checked + .radio-style > .radio-style__inner {
  border-radius: 50%;
  background-color: #e35028;
  width: 0.4375rem;
  height: 0.4375rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto; }

.radio-style {
  margin-right: 0.625rem;
  border-radius: 50%;
  background-color: #ffffff;
  width: 0.9375rem;
  height: 0.9375rem;
  display: block;
  position: relative; }

.right-field__name_check {
  padding-top: 0.125rem; }

.right-field__checkbox:checked + .checkbox-style > .checkbox-style__inner {
  height: 0.9375rem;
  background-image: url("../img/content/check.png");
  background-repeat: no-repeat;
  background-position: 50%; }

.checkbox-style {
  margin-right: 0.625rem;
  background-color: #ffffff;
  width: 0.9375rem;
  height: 0.9375rem;
  display: block;
  position: relative; }

@media screen and (max-width: 480px) {
  .submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

input::-webkit-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.5s ease;
  -o-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease; }

input::-moz-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.5s ease;
  -o-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease; }

input:-moz-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.5s ease;
  -o-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease; }

input:-ms-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.5s ease;
  -o-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease; }

input:focus::-webkit-input-placeholder {
  text-indent: 1000px;
  -webkit-transition: text-indent 0.5s ease;
  -o-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease; }

input:focus::-moz-placeholder {
  text-indent: 1000px;
  -webkit-transition: text-indent 0.5s ease;
  -o-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease; }

input:focus:-moz-placeholder {
  text-indent: 1000px;
  -webkit-transition: text-indent 0.5s ease;
  -o-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease; }

input:focus:-ms-input-placeholder {
  text-indent: 1000px;
  -webkit-transition: text-indent 0.5s ease;
  -o-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease; }

.map {
  background-color: #b0bec5;
  position: relative; }

.footer {
  background-color: #090909;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.75rem; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 7.1875rem; } }

.container_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .container_footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 1.25rem 0; } }

.location, .socials {
  width: 50%; }
  @media screen and (max-width: 480px) {
    .location, .socials {
      width: 100%; } }

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 480px) {
    .location {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .socials {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.socials__item {
  margin-left: 1.25rem; }
  .socials__item:first-child {
    margin-left: 0; }

.location__addres {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 300;
  margin-bottom: 0.3125rem; }
  @media screen and (max-width: 480px) {
    .location__addres {
      margin-bottom: 0.625rem; } }

@media screen and (max-width: 480px) {
  .location__phone {
    margin-bottom: 1.25rem; } }

.location__icon {
  width: 0.75rem;
  height: 0.75rem;
  fill: #e45028;
  margin-right: 0.3125rem; }

.location__link {
  color: #e45028;
  font-size: 14px;
  font-weight: 700; }

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: #5a5a5a;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .icon:hover {
    fill: #fff; }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-linear-gradient(90deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
  background: -moz-linear-gradient(90deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
  background: -o-linear-gradient(90deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
  background: -ms-linear-gradient(90deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
  background: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(47%, #eb8c38), color-stop(73%, #f9b43b));
  background: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
  background: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
  background: linear-gradient(0deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%); }

.container_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 58.75rem;
  margin: 0 0.625rem 0 1.25rem; }
  @media screen and (max-width: 768px) {
    .container_slider {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 75%; } }
  @media screen and (max-width: 480px) {
    .container_slider {
      width: 100%; } }

.left-arrow__icon {
  width: 1.6875rem;
  height: 0.9375rem;
  fill: #fff;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.right-arrow__icon {
  width: 1.6875rem;
  height: 0.9375rem;
  fill: #fff;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.burger-pic, .burger-info {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .burger-pic, .burger-info {
      width: 70%; } }
  @media screen and (max-width: 480px) {
    .burger-pic, .burger-info {
      width: 100%; } }

.burger-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 4.8125rem 0 3.375rem 0; }
  @media screen and (max-width: 768px) {
    .burger-pic {
      padding: 4.8125rem 0 0 0; } }

.consist, .weight {
  position: absolute;
  left: 0; }

.consist {
  top: 0;
  border-radius: 5px;
  background-color: rgba(227, 80, 40, 0.4);
  width: 5rem;
  height: 5rem; }

.weight {
  bottom: 0; }
  @media screen and (max-width: 768px) {
    .weight {
      top: 0;
      left: 85%; } }

.text-svg {
  font-size: 1.25rem; }

.weight-svg {
  width: 2.125rem;
  height: 0.875rem; }

.weight__text {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: Gagalin;
  text-transform: uppercase;
  color: #fad49e; }

.consist-logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.consist__icon {
  width: 2.875rem;
  height: 2.75rem;
  fill: #fff;
  margin-bottom: 0.3125rem; }

.consist__text {
  font-family: Gagalin;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 400; }

.weight-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.weight__icon {
  width: 3.75rem;
  height: 3.75rem;
  fill: #fad49e;
  margin-bottom: 0.3125rem; }

.title_burger {
  color: white;
  margin-bottom: 2.1875rem; }
  @media screen and (max-width: 768px) {
    .title_burger {
      text-align: center; } }

.burger-desc {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.42;
  margin-bottom: 1.5625rem; }
  @media screen and (max-width: 768px) {
    .burger-desc {
      text-align: center; } }

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .price {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.price__money {
  font-family: Gagalin;
  color: #e35028;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.875rem;
  margin-right: 1.875rem; }

.price__value {
  font-size: 4.475rem; }

.order_burger {
  -ms-flex-item-align: end;
  align-self: flex-end; }

/*# sourceMappingURL=main.css.map */