.full-menu{
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: #2f3234;
}
.container_full-menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.full-menu__logo{
  position: absolute;
  left: 5%;
  top: 5%;
}
.full-menu__close{
  position: fixed;
  top: rem(50px);
  right: rem(50px);
  cursor: pointer;
}
.full-menu__list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.full-menu__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  &:after {
    content: ' ';
    @include circle(5px, #fff);
    margin: rem(25px) 0;
  }
  &:last-child:after {
    display: none;
  }
}
.full-menu__link{
  font-size: rem(24px);
  font-weight: 400;
  color: #fff;
}
.cross{
  position: relative;
  width: 20px;
  height: 20px;
}
.cross__span{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: rem(20px);
  height: rem(5px);
  background-color: #bfc0c1;
}
.cross__span_first{
  transform: rotate(45deg);
}
.cross__span_second{
  transform: rotate(-45deg);
}
