
.make{
	background-image:url('../img/bg/make-bg.jpg'); 
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.31);
}
.container_make {
    display: flex;
    align-items: center;
    flex-direction: column;
	padding: rem(12px) 0 rem(41px) 0;
}
.header {
	 width: 100%;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
}
.logo__link{
	display: block;
}
.logo {
	margin-right: auto;
}
.menu {
  margin-right: rem(15px);
	@include tablets{
		display: none;
	}
}
.nav__list {
	display: flex;
}
.nav__item {
	display: flex;
	align-items: center;
  	white-space: nowrap;
	text-transform: uppercase;
  &:after {
    content: ' ';
    @include circle(5px, #fff);
    margin: 0 rem(12px);
  }
  &:last-child:after {
    display: none;
  }
}
.nav__link {
	color: #fff;
	font-size: rem(13px);
	font-weight: 500;
	font-family: Ubuntu;
}
.button{
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
}
.order__btn {
	background-color: $orange;
	width: rem(97px);
	height: rem(35px);
	color: #fff;
	font-size: rem(13px);
	font-weight: 500;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 0.8;
	margin-bottom: auto;
	@include tablets{
		flex-direction: column;
		text-align: center;
	}
}
.content__logo {
	margin-right: rem(30px);
}
.title_make_yellow{
	padding-top: rem(70px);
	color: $yellow;
	line-height: 1;
	margin-bottom: rem(20px);
	@include tablets{
		padding-top: rem(40px);
		//font-size: rem(53.05px);
	}
}
.description_make_white {
	color:  #ffffff;
	font-size: rem(65px);
	line-height: 1;
	@include phones{
		font-size: rem(40px);
	}
}
