
.make{
	background-image:url('../img/bg/make-bg.jpg'); 
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.31);
}
.container_make {
    display: flex;
    align-items: center;
    flex-direction: column;
	padding: rem(12px) 0 rem(41px) 0;
	@include phones{
		padding: rem(10px) 0 rem(5px) 0;
	}
}
.header {
	 width: 100%;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
}
.logo__link{
	display: block;
}
.logo {
	position: relative;
	z-index: 20;
	margin-right: auto;
}
.menu {
  margin-right: rem(15px);
	@include tablets{
		display: none;
	}
}
.nav__list {
	display: flex;
}
.nav__item {
	display: flex;
	align-items: center;
  	white-space: nowrap;
	text-transform: uppercase;
  &:after {
    content: ' ';
    @include circle(5px, #fff);
    margin: 0 rem(12px);
  }
  &:last-child:after {
    display: none;
  }
}
.nav__link {
	color: #fff;
	font-size: rem(13px);
	font-weight: 500;
	font-family: Ubuntu;
}
.button_order{
	background-color: $orange;
	width: rem(97px);
	height: rem(35px);
	color: #fff;
	font-size: rem(13px);
	font-weight: 500;
	@include tablets{
		margin-right: rem(30px);
	}
}
.button{
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
}
.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 0.8;
	margin-bottom: auto;
	@include tablets{
		flex-direction: column;
		text-align: center;
	}
}
.content__logo {
	margin-right: rem(30px);
	@include tablets{
		margin-right: 0;
	}
}
.title_make_yellow{
	padding-top: rem(70px);
	color: $yellow;
	line-height: 1;
	margin-bottom: rem(20px);
	@include tablets{
		padding-top: rem(40px);
		//font-size: rem(53.05px);
	}
}
.description_make_white {
	color:  #ffffff;
	font-size: rem(65px);
	line-height: 1;
	@include phones{
		font-size: rem(40px);
	}
}
.arrow__img{
	fill: rgb(237, 238, 238);
	width: rem(30px);
	height: rem(15px);
}
.hamburger{
	cursor: pointer;
	&:hover .hamburger__item:first-child{
		transform: rotate(360deg);
	}
	&:hover .hamburger__item:nth-child(2){
		transform: rotate(-360deg);
		margin-bottom: rem(3px);
	}
	&:hover .hamburger__item:last-child{
		margin-bottom: 0;
		background-color: transparent;
		color: #fff;
		height: rem(12px);
		font-size: rem(15px);
		transform: rotate(360deg);
	}
}
.hamburger__item{
	width: rem(40px);
	height: rem(5px);
	border-radius: 2px;
	background-color: #fff;
	margin-bottom: rem(9px);
	transition: 1s;
	font-size: 0;
	@include tablets{
		display: flex;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.hamburger__menu{
	color: #fff;
}