.map{
  background-color: rgb(176, 190, 197);
  position: relative;
}
.footer{
  background-color: rgb(9, 9, 9);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: rem(60px);
  @include phones{
    height: rem(115px);
  }
}
.container_footer{
  display: flex;
  @include phones{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(20px) 0;
  }
}
.location,.socials{
  width: 50%;
  @include phones{
    width: 100%;
  }
}
.location{
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include phones{
    align-items: center;
  }
}
.socials{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include phones{
    justify-content: center;
  }
}
.socials__item{
  margin-left: rem(20px);
  &:first-child{
    margin-left: 0;
  }
}
.socials__link{
  display: flex;
}
.location__addres{
  color:  #ffffff;
  font-size: rem(14px);
  font-weight: 300;
  margin-bottom: rem(5px);
  @include phones{
    margin-bottom: rem(10px);
  }
}
.location__phone{
  @include phones{
    margin-bottom: rem(20px);
  }
}
.location__icon{
  width: rem(12px);
  height: rem(12px);
  fill:  #e45028;
  margin-right: rem(5px);

}
.location__link{
  color:  #e45028;
  font-size: 14px;
  font-weight: 700;
}
.socials__list{
  display: flex;
}
.icon{
  width: rem(20px);
  height: rem(20px);
  fill: rgb(90, 90, 90);
  transition: .4s;
  &:hover{
    fill: #fff;
  }
}