.smenu{
  background-image:url('../img/bg/menu-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  width: 100%;
}
.title__smenu{
  position: absolute;
  top: 10%;
  left: 8.6%;
  color:  #ffffff;
  font-size: rem(71.73px);
  font-weight: 400;
  z-index: 1;
}
.smenu__list{
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.smenu__item{
  display: flex;
  position: relative;
  z-index: 5;
}
.smenu__trigger{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: rem(80px);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  font-family: Gagalin;
  color:  #ffffff;
  font-size: rem(39.8px);
  font-weight: 400;
  padding-bottom: rem(55px);
}
.smenu__title{
  transform: rotate(270deg);
  white-space: nowrap;
  width: 100%;
}
.smenu__trigger_meat{
  background-image:url('../img/content/acc-meat.jpg');
}
.smenu__trigger_veg{
  background-image:url('../img/content/acc-vegan.jpg');
}
.smenu__trigger_diet{
  background-image:url('../img/content/acc-dieta.jpg');
}
.smenu__content{
  width: 49%;
  overflow: hidden;
  background-color: rgba(57, 59, 60,.93);

}
.smenu__text{
  color: white;
  line-height: 1.42;
  font-size: rem(12px);
  transition: width 2s;
  padding: rem(80px) rem(30px) 0 rem(30px);
}
.smenu__item_active{
  .smenu__title{
    color: #f9b43b;
  }
  .smenu__content{
    width: rem(540px);
    @include tablets{
      width: 100%;
    }
    }
  }