.sidebar {
	 position: fixed;
	  right: 5%;
	  top: 10%;
	  color: #fff;
	z-index: 10;
	@include tablets{
		display: none;
	}
}
.outer-circle {
	@include circle(14px, transparent);
	border: 1px solid transparent;	
	position: relative;
	margin-bottom: rem(15px);
	transition: 0.4s;
	&:hover{
		border-color: #fff;
		cursor: pointer;
	}
}
.inner-circle {
	@include circle(6px, #fff);
	margin-bottom: rem(15px);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}
.active-circle{
	border-color: #fff;
}