.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(90deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
  background: -moz-linear-gradient(90deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
  background: -o-linear-gradient(90deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
  background: -ms-linear-gradient(90deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
  background: linear-gradient(0deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
}
.burgers{
  margin: 0 rem(10px);
  width: rem(940px);
  overflow: hidden;
  @include tablets{
    margin: 0;
    width: 80%;
  }
  @include phones{
    width: 100%;
  }
}
.burgers__list{
  position: relative;
  display: flex;
  transition: 2s;
  @include phones{
    width: 100%;
  }
}
.burgers__slide{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: rem(940px);
  @include tablets{
    flex-direction: column;
    width: 100%;
  }
  @include phones{
    width: 100%;
  }
}
.left-arrow__icon{
  width: rem(27px);
  height: rem(15px);
  fill: #fff;
  transform: rotate(90deg);
}
.right-arrow__icon{
  width: rem(27px);
  height: rem(15px);
  fill: #fff;
  transform: rotate(270deg);
}
.burger-pic,.burger-info{
  width: 50%;
  @include tablets{
    width: 70%;
  }
  @include phones{
    width: 100%;
  }
}
.right-arrow,.left-arrow{
   display: flex;
 }
.burger-pic{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: rem(77px) 0 rem(54px) 0;
  @include tablets{
    padding: rem(77px) 0 0 0;
  }
}
.consist,.weight{
  position: absolute;
  left: 0;
}
.consist{
  top: 0;
  border-radius: 5px;
  background-color:  rgba(227, 80, 40, 0.4);
  width: rem(80px);
  height: rem(80px);
  cursor: pointer;
  &:hover .consist__list{
    opacity: 1;
    z-index: 10;
  }
}
.weight{
  bottom: 0;
  @include tablets{
    top: 0;
    left: 85%;
  }
}
.text-svg{
  font-size: rem(20px);
}
.weight-svg{
  width: rem(34px);
  height: rem(14px);
}
.weight__text{
  font-size: rem(14px);
  font-weight: 400;
  font-family: Gagalin;
  text-transform: uppercase;
  color: rgb(250, 212, 158);
}
.consist-logo{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.consist__burger{
  width: rem(46px);
  height: rem(44px);
  fill: #fff;
  margin-bottom: rem(5px);
}
.consist__text{
  font-family: Gagalin;
  color:  #ffffff;
  font-size: rem(14px);
  font-weight: 400;
}
.weight-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weight__icon{
  width: rem(60px);
  height: rem(60px);
  fill: rgb(250, 212, 158);
  margin-bottom: rem(5px);
}
.title_burger{
  color: white;
  margin-bottom: rem(35px);
  @include tablets{
    text-align: center;
  }
}
.burger-desc{
  color:  #ffffff;
  font-size: rem(14px);
  font-weight: 300;
  line-height: 1.42;
  margin-bottom: rem(25px);
  @include tablets{
    text-align: center;
  }
}
.price{
  display: flex;
  align-items: center;
  @include tablets{
    justify-content: center;
  }
}
.price__money{
  font-family: Gagalin;
  color:  #e35028;
  font-weight: 400;
  text-transform: uppercase;
  font-size: rem(30px);
  margin-right: rem(30px);
}
.price__value{
  font-size: rem(71.6px);
}
.order_burger{
  align-self: flex-end;
}
.consist__list{
  position: absolute;
  top: 0;
  left: 100%;
  width: rem(270px);
  background-color: rgba(255, 255, 255,.9);
  display: flex;
  opacity: 0;
  flex-direction: column;
  padding: rem(15px) rem(20px);
  border-radius: rem(5px);
  transition: .5s;
  z-index: -10;
  @include phones{
    width: rem(205px);
  }
}
.consist__item{
  display: flex;
  align-items: center;
  font-size: rem(14px);
  margin-bottom: rem(20px);
  &:last-child{
    margin-bottom: 0;
  }
}
.consist__product{
  font-weight: 500;
  margin-right: auto;
  text-transform: capitalize;
}
.consist__weight{
  font-weight: 300;
}
.consist__icon{
  width: rem(40px);
  height: rem(40px);
  margin-right: rem(25px);
  @include phones{
    margin-right: rem(10px);
  }
}
.consist__icon_color_red{
  fill: #e25028;
}
.consist__icon_color_green{
  fill: #8ac03e;
}
.consist__icon_color_yellow{
  fill: #f8b43a;
}