.team{
  background-image:url('../img/bg/team-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color: #c0afaa;
  position: relative;
}
.teammates{
  height: 100%;
  width: 50%;
  background-color: rgba(57, 59, 60,.9);
  position: absolute;
  top: 0;
  right: 0;
  padding-top: rem(113px);
  @include tablets{
    width: 100%;
    text-align: center;
  }
}
.container-teammates{
  width: 64%;
  margin: 0 auto;
}
.title_teammates{
  color:  #f9b43b;
  font-size: rem(71.73px);
  font-weight: 400;
  margin-bottom: rem(45px);
 @include phones{
   font-size: rem(49.66px);
 }
}
.teammates__item{
  margin-bottom: rem(35px);
}
.teammate__name{
  display: inline-flex;
  align-items: center;
  font-family: Gagalin;
  color:  #fff;
  font-size: rem(13.92px);
  font-weight: 400;
  margin-bottom: rem(17px);
  &:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color:#f9b43b;
    border-bottom-width: 0px;
    margin-right: rem(10px);
    transition: .8s;
  }
  @include tablets{
    font-size: rem(23.92px);
    justify-content: center;
  }
}
.teammate__info{
  display: flex;
  align-items: flex-start;
  @include tablets{
    align-items: center;
    flex-direction: column;
  }
}
.teammates__item_active{
  .teammate__name{
    color: #f9b43b;
  }
  .teammate__name{
    &:before{
      transform: rotate(180deg);
    }
  }
}
.teammate__photo{
  display: inline-block;
  min-width: rem(100px);
  margin: 0 rem(20px) 0 rem(20px);
  @include tablets{
    margin-bottom: rem(10px);
  }
}
.teammate__img{
  height: rem(100px);
  width: rem(100px);
  border-radius: 50%;
}
.teammate__facts{
  color:  #ffffff;
  font-size: rem(14px);
}
.teammate__profession{
  font-weight: 700;
  margin-bottom: rem(20px);
}
.teammate__description{
  font-weight: 300;
  line-height: 1.42;
}
.teammates__wrap{
  transition: .8s;
  height: 0;
  overflow: hidden;
}