.team{
  background-image:url('../img/bg/team-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color: #c0afaa;
  position: relative;
}
.teammates{
  height: 100%;
  width: 50%;
  background-color: rgba(57, 59, 60,.9);
  position: absolute;
  top: 0;
  right: 0;
  padding-top: rem(113px);
  @include tablets{
    width: 100%;
    text-align: center;

  }
}
.container-teammates{
  width: 64%;
  margin: 0 auto;
}
.title_teammates{
  color:  #f9b43b;
  font-size: rem(71.73px);
  font-weight: 400;
  margin-bottom: rem(45px);
}
.teammates__item{
  margin-bottom: rem(35px);
}
.teammate__name{
  font-family: Gagalin;
  color:  #f9b43b;
  font-size: rem(13.92px);
  font-weight: 400;
  margin-bottom: rem(17px);
  @include tablets{
    font-size: rem(24px);
  }
}
.teammate__info{
  display: flex;
  @include tablets{
    flex-direction: column;
  }
}
.teammate__photo{
  min-width: 100px;
  margin: 0 rem(20px) rem(20px) rem(20px);
}
.teammate__img{
  height: rem(100px);
  width: rem(100px);
  border-radius: 50%;
}
.teammate__facts{
  color:  #ffffff;
  font-size: rem(14px);
}
.teammate__profession{
  font-weight: 700;
  margin-bottom: rem(20px);
}
.teammate__description{
  font-weight: 300;
  line-height: 1.42;
}